<header>
    <div class="header-nav">
      <a href="/">ESmanagement</a>
      <p>ようこそ、<%= locals.username %>さん</p>
      <ul>
        <li><a href="/companies">登録企業一覧</a></li>
        <li><a href="/login">ログイン</a></li>
      </ul>
    </div>
    <p>ES管理ツール ESmanagement</p>
  </header>